div.tesk{
    display: flex;
    justify-content:  start;
    cursor: pointer;
    width: 75%;
    border: 1px gray solid;
    padding: 5px;
    margin: 5px;
    gap:10px;
}
div.tesk>img{
    width: 50px;
}
div.tesk> input[type=checkbox]{
    transform: scale(1.5);
    padding-left: 50px;
}
input.tesk{
    font-size: larger;
    border: 0px;
    width: 100%;
}
.cross{
    text-decoration: line-through;
}